<!DOCTYPE html>
<html>
<head>
  <title>Prysmic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <!--  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"cb1282daa784867c3aa87d146","lid":"a3443a9e7e"}) })</script> -->
</head>
<div style="width:100%;height:60px;background-color: rgb(38,92,172);opacity: 0.8;">
	<div style="float: left;margin-left: 10px;margin-top: 5px;"> 
		<%= image_tag("prysmic_logo.png", :style => "width: 50px;float:right") %></div>
	<div>
		<div style="margin-right: 80px;">
		<%= link_to contact_welcome_path() do %>
				<div style="float: right;color:white;padding:13px;padding-bottom:14px;padding-right:40px;padding-left:38px;font-family:disco; font-weight: 600;line-height: 33px;font-size: 23px;<%= request.path.include?("/contact") ? "background-color: rgb(8,62,142);" : ""%>">Contact</div>
		<% end %>
		</div>

		<div style="">
		<%= link_to root_path() do %>
			<div style="float: right;color:white;padding:13px;padding-bottom:14px;padding-right:40px;padding-left:38px;font-family:disco; font-weight: 600;line-height: 33px;font-size: 24px;<%= !request.path.include?("/contact") ? "background-color: rgb(8,62,142);" : ""%>">Home</div>
		<% end %>
		</div>
	</div>
</div>

<!-- <div stlye="width:100px;height:100px;">< request.path %></div> -->

<body style="font-family:Comic Sans MS, cursive, sans-serif;">

<%= yield %>

</body>
</html>
