<!DOCTYPE html>
<html>
<head>
  <title>FrontSiteStatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <!--  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"cb1282daa784867c3aa87d146","lid":"a3443a9e7e"}) })</script> -->
 <div style="margin: 0 auto;width: 800px;">
 <%= image_tag("LOGO2.png", :style => "width: 800px;") %>
</div>
</head>
<body style="font-family:Comic Sans MS, cursive, sans-serif;">

<%= yield %>

</body>
</html>
